.App {
    -ms-overflow-style: none;
    scrollbar-width: none; 
    scroll-snap-points-y: repeat(100vh);    
}

.App::-webkit-scrollbar {
    display: none;
}

.light {
    transition: 1s ease;
}

.dark {
    transition: 1s ease;
}

.lightMode {
    transition: 1s ease;
}

.darkMode {
    transition: 1s ease;
}